<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [KubeDB-Agent] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- KubeDB Agent specific logging -->
    <logger name="io.kubedb.monitor.agent" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
    
    <!-- Default logging level -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>